@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.header{
    width: 100%;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header__div1{
    position: absolute;
    top: 16px;
    left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 146px;
}

.header__div2{
    width: 404px;
    height: 40px;
    margin: 8px;
    display: flex;
}

.header__div2 button{
    border: 1px solid #CCCCCC;
    width: 57px;
}

.header__div2 button img{
    margin: auto;
}

#input{
    flex: 1;
    border: 1px solid #CCCCCC;
}

.header__div3{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 11px;
    right: 24px;
}

.container{
    display: flex;
}

.conteudo-principal__div{
    width: 85%;
    margin-top: 30px;
    margin-left: 70px;
}

.conteudo-principal__div iframe{
    width: 100%;
}

.conteudo-principal__barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 2px;
}

.conteudo-principal__barra button{
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 1em;
    background-color: #CC0000;
    border: none;
    border-radius: 2px;
    padding: 12px 36px;
    cursor: pointer;
}

.conteudo-principal__barra-titulo{
    font-weight: 500;
    font-size: 1em;
}

.conteudo-principal__barra-inscritos{
    font-weight: 400;
    font-size: 1em;
    color:#515151;
}

.conteudo-principal__titulo{
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 16px;
    margin-bottom: 16px;
}

.conteudo-principal__views{
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 16px;
}

.conteudo-principal__texto{
    color: #515151;
    font-weight: 400;
    font-size: 0.9em;
}

.videos-sugeridos{
    margin-top: 30px;
    margin-right: 70px;
}

.videos-sugeridos__div{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.videos-sugeridos__div h2{
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 8px;
}

.videos-sugeridos__div p{
    font-weight: 400;
    font-size: 0.8em;   
}

.videos-sugeridos__div h2 + p{
    margin-bottom: 7px;
}
